#nav {
  background-color: var(--dark-grey);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-bar {
  padding: none;
  background-color: rgb(247, 249, 250);
}

#nav-links {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}
.nav-link {
  font-size: large;
  list-style: none;
  margin: none;
  padding: none;
  cursor: pointer;
  font-weight: bold;
  display: grid;
  place-items: center;
  color: hsl(12, 93%, 47%);
}
h2 {
  color: #063f5a;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

form {
  height: 65vh;
  border: none;
  display: block;

  direction: center;
  border-color: rgb(228, 19, 30);
}
div.form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#headerBackground {
  background-color: chocolate;
}

h1 {
  color: #e75b09;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}
.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
}

.banner {
  position: relative;
  height: 100px;
  background-image: "./images/NBAbackground4.jpg";
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input,
select,
textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input {
  width: calc(100% - 10px);
  padding: 5px;
}

textarea {
  width: calc(100% - 12px);
  padding: 5px;
  border: 1px solid red;
}
.item:hover p,
.item:hover i,
.question:hover p,
.question label:hover,
input:hover::placeholder {
  color: #cc7a00;
  border: 1px solid red;
}
.item input:hover,
.item select:hover,
.item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0 #cc7a00;
  color: #cc7a00;
}
.item {
  float: center;
  height: 100px;
  width: 300px;
}
.item span {
  color: red;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}
.button {
  width: calc(100% - 10px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #cc7a00;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.button:hover {
  background: #ff9800;
}

.card {
  display: flex;
  flex: auto;

  flex-flow: row wrap;
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
  object-fit: cover;

  background-size: cover;
  background-position: center;
}

.team {
  border-radius: 5px 5px 5px 5px;
  align-items: center;
  width: 250px;
  height: 200px;
  padding: 90px 80px;
  background-color: #808080ad;
}
.team.h2 {
  color: hsla(66, 100%, 50%, 0.918);
}

.card > img {
  border-radius: 5px 5px 5px 5px;
  width: 200px;
  height: 200px;

  margin-top: 10px;
  line-height: 150px;

  padding: none;
}

body {
  margin: 0;
  padding: 0;
}
.cardInfo {
  width: 200px;
  height: 200px;
  background-color: darkslategray;
  color: orangered;
}

